@import url('https://fonts.googleapis.com/css?family=Bangers');
body {
	margin: 0;
}

.body {
	width: 100%;
	min-height: 100%;
	display: grid;
	grid-template-rows: .3fr .2fr 1fr 1.5fr 1.5fr;
	grid-template-columns: .5fr 1fr 1fr .45fr;
}

header {
	grid-area: 1 / 1 / 2 / 5;
	font-size: 1.25rem;
	background-color: rgb(0, 69, 111);
	font-family: 'Bangers', cursive;
	color: white;
	padding-left: 17%;
	letter-spacing: .1rem;
	;
}

header a {
	text-decoration: none;
	color: white;
	display: inline-block;
	margin-top: -5%;
}

nav {
	grid-area: 2 / 2 / 3 / 4;
	text-align: center;
	justify-self: center;
}

nav ul li {
	display: inline-block;
	padding: .25rem;
	margin-right: .5rem;
	font-size: 1rem;
}

nav ul li a {
	text-decoration: none;
	color: black;
}

nav ul li a:hover {
	color: orange;
}

.intro {
	grid-area: 3 / 2 / 4 / 4;
	line-height: 1.3rem;
	font-family: serif;
	font-size: 1.2rem;
	background-color: white;
}

.port1,
.port2,
.port3,
.port4 {
	position: relative;
	width: auto;
	height: 95%;
}

a {
	text-decoration: none;
}

.port1 {
	grid-area: 4 / 2 / 5 / 3;
}

.port2 {
	grid-area: 4 / 3 / 5 / 4;
}

.port3 {
	grid-area: 5 / 2 / 6 / 3;
}

.port4 {
	grid-area: 5 / 3 / 6 / 4;
}

.pic {
	box-shadow: 2px 4px rgb(0, 69, 111);
	;
	width: 90%;
	height: 90%;
}

.calc {
	background-image: url(JSCalc.jpg);
	background-position: center top;
	background-size: cover;
}

.chuck {
	background-image: url(chuck.png);
	background-position: center top;
	background-size: cover;
}

.twitch {
	background-image: url(Twitch.jpg);
	background-position: center top;
	background-size: cover;
}

.fry {
	background-image: url(port.png);
	background-position: left top;
	background-size: cover;
}

.pic p {
	color: white;
	text-align: center;
}

@media only screen and (max-width: 480px) {
	.body {
		grid-template-rows: .3fr .2fr .5fr .4fr .4fr .4fr .4fr;
	}
	.port1,
	.port2,
	.port3,
	.port4 {
		padding-left: 10%;
	}
	.port1 {
		grid-area: 4 / 1 / 5 / 5;
	}
	.port2 {
		grid-area: 5 / 1 / 6 / 5;
	}
	.port3 {
		grid-area: 6 / 1 / 7 / 5;
	}
	.intro {
		font-size: .8rem;
		text-align: justify;
	}
	.port4 {
		grid-area: 7 / 1 / 8 / 5;
	}
	header {
		font-size: 1rem;
		letter-spacing: normal;
	}
	nav ul li {
		font-size: .65rem;
		background-color: lightgrey;
		border-radius: 15%;
	}
	nav ul {
		display: flex;
		margin-left: -3%;
	}
	hr {
		display: none;
	}
}